.login-block {
    background: #6d7fcc;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #8da1ee, #6d7fcc);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #8da1ee, #6d7fcc);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    float: left;
    width: 100%;
    padding: 50px 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

.banner-sec {
    /* background: url(/assets/images/banner_crm1.png) no-repeat left bottom; */
    background-size: cover;
    min-height: 500px;
    border-radius: 0 10px 10px 0;
    padding: 0;
}

.container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 15px 20px 0px rgba(0, 0, 0, 0.1);
}

.login-sec {
    padding: 50px 30px;
    position: relative;
}

.login-sec h2 {
    margin-bottom: 30px;
    font-weight: 800;
    font-size: 30px;
    color: #6d7fcc;
}

.login-sec h2:after {
    content: " ";
    width: 100px;
    height: 5px;
    background: #8da1ee;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
}